body {
    background-color: #eee;
}

.jumbotron {
    background-color: white;
    background-image:url("../img/ufcbanner.jpg");
    background-size: 100% 100%;
}

.navbar {
    background-color: #1a8cff !important;
}

.navbar-brand {
    color: white !important;
    background-color: black !important;
    padding: 10px;
    border-radius: 10px;
    border: 0.4px solid white;
}

a {
    text-decoration: none !important;
}