<div class="container-fluid"> 
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MMA News Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a href="/"><button type="button" class="btn btn-light mr-3">Home</button></a>

                <a href="/saved"><button type="button" class="btn btn-info mr-3 nav-link" id="savedArticleBtn">Saved Articles</button></a>

                <button class="btn btn-info mr-3" href="" id="scrapeArticles">Scrape Articles</button>
            </div>
        </div>
        </nav>
    </div>
    <div class="jumbotron">
        <br><br><br><br>
    </div>
    <div class="col-md-12" id="articles">
         
    </div>
    <!-- <div class="card w-100">
        <div class="card-body">
            <h3 class="card-title">Card title</h5>
            <p class="card-text">Article Content Here.</p>
        </div>
    </div> -->
</div>